@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input,
textarea,
select {
  -webkit-appearance: none;
}
mark {
  background-color: transparent;
}
/* end reset */

/*preset*/
body {
  font-size: 20px;
  line-height: 22px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #333;
  background: #fff;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
img {
  max-width: 100%;
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
}
textarea {
  resize: vertical;
}
iframe {
  border: none;
  width: 100%;
}
ul,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
input[type="submit"] {
  cursor: pointer;
}
a[href^="tel:"] {
  color: inherit !important;
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clearfix {
  clear: both;
  overflow: hidden;
}
.comp {
  color: #0353a1;
  font-weight: bold;
}
.comingsoon {
  color: red;
  font-style: italic;
  font-weight: bold;
}
.col2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
.col3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
.col2 li,
.col3 li {
  overflow: hidden;
  display: inline-block;
  width: 100%;
}
.back_top {
  display: none;
  z-index: -1;
}
.main_phone {
  font-weight: bold;
}

/* delete this after */
.selected {
  color: var(--text-color-primary-hover) !important;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Thumbnail Images*/
.thumb_left_dd,
.thumb_left_dr {
  float: left;
  margin: -4px 19px 0 0;
}
.thumb_right_dd,
.thumb_right_dr {
  float: right;
  margin: -4px 0 0 19px;
}
.thumb_center_dd,
.thumb_center_dr {
  display: block;
  margin: 10px auto;
}

/* Text Alignment */
.text_left,
.text_left p {
  text-align: left;
}
.text_right,
.text_right p {
  text-align: right;
}
.text_center,
.text_center p {
  text-align: center;
  display: block;
}

/* Forms Presets */
::-webkit-input-placeholder {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
  color: inherit;
}
::-moz-placeholder {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
  color: inherit;
}
:-ms-input-placeholder {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
  color: inherit;
}
:-moz-placeholder {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
  color: inherit;
}

/*end preset*/
:root {
  --bg-primary-color: #ff5b00;
  --bg-secondary-color: #ff5b00;
  --bg-white-color: #ffffff;
  --bg-gray-color: #f5f5f5;

  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --text-color-white: #ffffff;
  --text-color-black: #333333;
  --text-color-black-1: #212121;
  --text-color-black-2: #000000;
  --text-color-primary-hover: #ff5b00;
  --text-color-orange: #fa7436;

  --border-color: #eeeeee;
  --border-color-white: #e6e6e6;

  --input-bg-color: #f5f5f5;
  --input-outline-color: #ff5b00;
  --input-placeholder-color: #757575;

  --bg-button-primary: #ff5b00;
  --swiper-next-btn-white: #ffffff;

  --bg-dummy-color: #dee5ed;
  --border-dummy-color: #eeeeee;

  --bg-color-colar: rgba(250, 116, 54, 0.1);

  --btn-border-text-color: #4a4a4a;

  --bg-hdr-search: #00b0a1;
}

.wrapper {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

#header {
  border-bottom: 1px solid var(--border-color);
}

.header_container {
  min-height: 60px;
}
.header_logo {
  width: 180px;
  display: inline-block;
  vertical-align: middle;
}
.header_search {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  position: relative;
  max-width: 280px;
  width: 100%;
}
.header_search input {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  height: 40px;
  background-color: var(--input-bg-color);
  border-radius: 20px;
  color: var(--text-color-primary);
  padding: 0px 15px 0px 40px;
}
.header_search input:focus {
  outline: 2px solid var(--input-outline-color);
}
.header_search .search_icon::after {
  position: absolute;
  content: url(images/search-icon.png);
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  top: 50%;
  left: 15px;
}
.header_search input::placeholder {
  color: var(--input-placeholder-color);
}
.header_right {
  float: right;
}
.header_right ul {
}

.header_right ul li {
  display: inline-block;
  vertical-align: middle;
}
.header_right ul li:not(:last-child) {
  margin-right: 20px;
}
.header_right ul li a {
  color: var(--text-color-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 60px;
}
.header_right ul li a:hover {
  color: var(--text-color-primary-hover);
}
.header_right ul li:last-child a {
  height: 36px;
  width: 57px;
  background-color: var(--bg-button-primary);
  color: var(--text-color-white);
  display: inline-block;
  line-height: 35px;
  text-align: center;
  border-radius: 50px;
}
#nav {
  background-color: var(--bg-white-color);
  border-bottom: 1px solid var(--border-color);
}
.nav_container {
  min-height: 60px;
}
.nav_left {
  float: left;
  position: relative;
}
.nav_left a {
  color: var(--text-color-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 60px;
  position: relative;
  padding-left: 25px;
}
.nav_left a:hover {
  color: var(--text-color-primary-hover);
}
.nav_left a .marker_icon::after {
  position: absolute;
  content: url(images/marker-icon.png);
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  top: -8px;
  left: 0;
}

.nav_right {
  float: right;
}
.nav_right ul {
}
.nav_right ul li {
  display: inline-block;
  vertical-align: middle;
}

.nav_right ul li:not(:last-child) {
  margin-right: 20px;
}
.nav_right ul li:last-child {
  padding-left: 25px;
}
.nav_right ul li {
  position: relative;
}
.nav_right ul li:last-child::after {
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: absolute;
  border-left: 1px solid var(--border-color);
  height: 25px;
}
.nav_right ul li a {
  color: var(--text-color-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 60px;
  position: relative;
}
.nav_right ul li:last-child a {
  padding-left: 30px;
}
.nav_right ul li:last-child a::after {
  content: url("images/icons/gift-icon.png");
  top: -5px;
  left: 0;
  transform: translateY(-50%);
  position: absolute;
  height: 22px;
  width: 22px;
}
.nav_right ul li a:hover {
  color: var(--text-color-primary-hover);
}

#banner {
  position: relative;
}
#banner::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000000;
  z-index: 1;
  opacity: 0.2;
}
.swiper-wrapper {
}

#banner .swiper-wrapper .swiper-slide figure {
  height: 480px;
}
#banner .swiper-wrapper .swiper-slide figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner_wrapper {
  max-width: 1400px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.banner_wrapper .swiper-button-next,
.banner_wrapper .swiper-button-prev {
  color: var(--swiper-next-btn-white);
}
.banner_wrapper .banner_container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner_wrapper .banner_container h2 {
  font-size: 60px;
  font-weight: 600;
  color: var(--text-color-white);
  line-height: 100%;
  margin-bottom: 30px;
}
.banner_wrapper .banner_container p {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color-white);
  line-height: 100%;
  margin-bottom: 30px;
}
.banner_wrapper .banner_container .banner_form {
  width: 800px;
  max-width: 100%;
  position: relative;
}
.banner_wrapper .banner_container .banner_form .search-icon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  content: url("images/icons/search-icon.png");
  display: block;
  width: 24px;
  height: 24px;
  z-index: 1;
}
.banner_wrapper .banner_container .banner_form .banner_search_input {
  border-radius: 5px;
  width: 100%;
  height: 55px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-primary);
  padding-left: 60px;
  position: relative;
}
.banner_wrapper .banner_container .banner_form .banner_search_input::placeholder {
  color: var(--text-color-secondary);
}
.banner_wrapper .banner_container .banner_form .banner_search_input:focus {
  outline: 2px solid var(--input-outline-color);
}
.banner_wrapper .banner_container .banner_form .banner_search_button {
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  border-radius: 5px;
  background-color: var(--bg-primary-color);
  color: var(--text-color-white);
  height: 48px;
  width: 138px;
  font-weight: 600;
  font-size: 16px;
  display: block;
}
/* HEADER SEARCH */
#header_search {
  background-color: var(--bg-hdr-search);
}
.hdr_search_con {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 19px 0;
  gap: 10px;
  background-color: var(--bg-hdr-search);
}
.hdr_input {
  position: relative;
  flex: 1;
  height: 62px;
  border-radius: 8px;
  background-color: var(--bg-white-color);
  overflow: hidden;
  padding: 0 16px;
}
.hdr_input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 16px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
}
.hdr_input input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  padding-top: 20px;
  display: block;
}
.hdr_input input[type="date"] {
  font-size: 14px;
}
.hdr_input input::placeholder {
  color: var(--input-placeholder-color);
}
.hdr_input input:focus:focus-visible {
  outline: 1px solid transparent;
}
.hdr_btn_search {
  flex: 1;
  height: 62px;
  border-radius: 8px;
  overflow: hidden;
  display: block;
}
.hdr_btn_search button {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 100%;
  color: var(--text-color-white);
  background-color: var(--bg-primary-color);
}
.hdr_btn_search button .hdr_search_icon {
  content: url("images/icons/search-icon2.png");
  height: 16px;
  width: 15px;
}

/* Package */

#nh_package {
  background-color: var(--bg-gray-color);
}
.nh_package_container {
  padding: 25px 0;
}
.breadcrumb_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
.breadcrumb_list li {
  position: relative;
}
.breadcrumb_list li + li::before {
  content: url("images/icons/arrow-right-icon.png");
  padding: 0 5px;
}
.breadcrumb_list li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color-black-1);
}
.breadcrumb_list li {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color-black-1);
}
.nh_sidebar_main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 25px;
}
.sidebar {
  border-radius: 6px;
  background-color: var(--bg-white-color);
  padding: 0 20px;
  height: 100%;
  max-width: 275px;
  min-width: 220px;
  width: 100%;
}
.sidebar section {
  padding: 18px 0;
}
.sidebar section:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}
.sidebar section h3 {
  color: var(--text-color-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}
.sidebar section ul {
  padding-top: 15px;
}
.sidebar section ul li a {
  position: relative;
  color: #2073f9;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}
.sidebar section ul li a::after {
  content: url("images/icons/down-arrow-icon3.jpg");
  padding-left: 5px;
}
.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  padding: 10px 0;
}
.checkbox-wrapper .control {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  gap: 10px;
}
.checkbox-wrapper .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-wrapper .control__indicator {
  position: relative;
  height: 17px;
  width: 18px;
  background: var(--text-color-white);
  border-radius: 5px;
  border: 2px solid var(--text-color-black-1);
  padding-right: 15px;
}
.checkbox-wrapper .control:hover input ~ .control__indicator,
.checkbox-wrapper .control input:focus ~ .control__indicator {
  background: var(--bg-white-color);
}
.checkbox-wrapper .control input:checked ~ .control__indicator {
  background: var(--bg-button-primary);
  border: 2px solid transparent;
}
.checkbox-wrapper .control:hover input:not([disabled]):checked ~ .control__indicator,
.checkbox-wrapper .control input:checked:focus ~ .control__indicator {
  background: var(--bg-button-primary);
}
.checkbox-wrapper .control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.checkbox-wrapper .control__indicator:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-wrapper .control input:checked ~ .control__indicator:after {
  display: block;
}
.checkbox-wrapper .control--checkbox .control__indicator:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox-wrapper .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.checkbox-wrapper .star-icon {
  content: url("images/icons/star-icon2.png");
}

.item_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  max-width: 900px;
}
.item_list .filter_section {
  background-color: var(--bg-white-color);
  border-radius: 6px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
.item_list .filter_section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color-black-2);
}
.item_list .filter_section .filter_options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item_list .filter_section button {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  padding: 7px 12px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-white-color);
  color: var(--text-color-black);
}
.item_list .filter_section button::after {
  content: url("images/icons/down-arrow-icon2.png");
  padding-left: 10px;
}
.item_list .filter_section button:hover {
}
.item_list .filter_section .sort_by_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.item_list .filter_section .sort_by_section label {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color-black-2);
}
.item_list .filter_section .sort_by_section select {
  position: relative;
  background-color: var(--bg-white-color);
  border-radius: 6px;
  border: 1px solid var(--border-color-white);
  padding: 7px 30px 7px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color-black);
  background-image: url("images/icons/down-arrow-icon2.jpg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
}
.item_list .filter_section .sort_by_section select option {
}
.item_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
.card {
  height: 402px;
  background-color: var(--bg-white-color);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: calc(33.33% - 10px);
}
.card figure {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
}
.card figure .img_container {
  height: 201px;
  width: 100%;
}
.card figure .img_container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.card figure figcaption {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 13px;
  flex: 1;
}
.card figure figcaption .location {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-color-secondary);
}
.card figure figcaption .location::before {
  content: url("images/icons/geo-alt-fill-icon.png");
}
.card figure figcaption .activity_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  color: var(--text-color-black-1);
}
.card figure figcaption .activity_information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
.card figure figcaption .activity_information p {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: var(--input-placeholder-color);
}
.card figure figcaption .activity_information .activity_rating_list {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.card figure figcaption .activity_information .activity_rating_list li {
}
.card figure figcaption .activity_information .activity_rating_list li {
}
.card figure figcaption .activity_information .activity_rating_list li .star-icon {
  content: url("images/icons/star-icon.png");
}

.card figure figcaption .activity_status_list {
}
.card figure figcaption .activity_status_list li {
}
.card figure figcaption .activity_status_list li span {
  line-height: 100%;
  font-size: 14px;
  color: var(--text-color-orange);
  background-color: var(--bg-color-colar);
  padding: 3px 8px;
  border-radius: 6px;
  font-weight: 500;
}
.card figure figcaption .activity_price {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  flex: 1;
  align-items: end;
  display: flex;
}

.item_list .item_cards .flight_card {
  padding: 20px;
  background-color: var(--bg-white-color);
  min-height: 147px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item_list .item_cards .flight_card .flight_time {
  flex: 2;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.item_list .item_cards .flight_card .flight_time button {
  display: block;
  position: relative;
  border-radius: 24px;
  border: 1px solid #eee;
  background: #fff;
  padding: 5px 10px;
  color: #757575;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  margin: 0 auto;
}
.btn-f-time {
  display: block;
  width: 100%;
  position: relative;
}
.btn-f-time::after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 100%;
  display: block;
  content: "";
  background-color: var(--border-color);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.item_list .item_cards .flight_card .div1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.item_list .item_cards .flight_card .div1 .flight_arilines {
  color: var(--text-color-black-2);
  font-size: 12px;
  font-weight: 400;
}
.item_list .item_cards .flight_card .div1 .flight_time {
  color: var(--text-color-black-2);
  font-size: 20px;
  font-weight: 600;
}
.item_list .item_cards .flight_card .div1 .flight_location {
  color: var(--text-color-black-2);
  font-size: 14px;
  font-weight: 300;
}
.item_list .item_cards .flight_card .div1 .btn_direct_flight {
  color: var(--text-color-secondary);
  font-size: 12px;
  font-weight: 400;
  padding: 0 10px;
  border-radius: 24px;
  position: relative;
  text-align: center;
  background-color: #f6f9fd;
  display: block;
}
.item_list .item_cards .flight_card .div1 .btn_direct_flight::after {
  content: url("images/icons/down-arrow-icon2.jpg");
  padding-left: 5px;
}
.item_list .item_cards .flight_card .div2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.item_list .item_cards .flight_card .div2 li:nth-child(1) {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
.item_list .item_cards .flight_card .div2 li:nth-child(2) {
  color: #212121;
  font-size: 14px;
  font-weight: 300;
}
.item_list .item_cards .flight_card .div3 {
  flex: 3;
  display: flex;
  justify-content: end;
  gap: 20px;
}
.item_list .item_cards .flight_card .div3 div p {
  color: #f44622;
  font-size: 12px;
  font-weight: 400;
}
.item_list .item_cards .flight_card .div3 div p {
}
.item_list .item_cards .flight_card .div3 span {
  color: #212121;
  font-size: 20px;
  font-weight: 600;
}
.item_list .item_cards .flight_card .div3 button {
  position: relative;
  display: block;
  height: 43px;
  width: 44px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #ff5b00;
}
.item_list .item_cards .flight_card .div3 button::after {
  content: url("images/icons/down-arrow-orange-icon.png");
}

#swiper-flight-list {
  width: 100%;
  background-color: var(--bg-white-color);
  border-radius: 6px;
  height: 95px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#swiper-flight-list ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#swiper-flight-list ul li span:nth-of-type(1) {
  color: #333;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  display: block;
}
#swiper-flight-list ul li span:nth-of-type(2) {
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  display: block;
}
#swiper-flight-list .swiper-button-next {
  height: 100%;
  margin-top: 0;
  top: 0;
}
#swiper-flight-list .swiper-button-prev {
  height: 100%;
  margin-top: 0;
  top: 0;
}
#swiper-flight-list .swiper-button-next::after {
  content: url("images/icons/arrow-right-flight-icon.png");
}
#swiper-flight-list .swiper-button-prev::after {
  content: url("images/icons/arrow-left-flight-icon.png");
}
#swiper-flights-list-button-next {
  border-right: 1px solid var(--border-color);
}
#swiper-flights-list-button-prev {
  border-left: 1px solid var(--border-color);
}
#swiper-flights-list-button-next,
#swiper-flights-list-button-prev {
  height: 100%;
  width: 55px;
  padding: 15px;
  background-color: var(--bg-white-color);
  z-index: 2;
}
/* FLYER */
#flyer_section {
  position: relative;
  padding-top: 70px;
}
.flyer_container {
  position: relative;
}
.flyer_container h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-bottom: 50px;
}
.flyer_wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.flyer_container .swiper {
}
.flyer_container .swiper .swiper-wrapper {
}
.flyer_container .swiper .swiper-wrapper .swiper-slide {
}
.flyer_container .swiper .swiper-wrapper .swiper-slide figure {
  height: 272px;
  border: 1px solid var(--border-dummy-color);
  border-radius: 16px;
  background-color: var(--bg-dummy-color);
  overflow: hidden;
  position: relative;
}
.flyer_container .swiper .swiper-wrapper .swiper-slide figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  transition: top 2s;
}
.flyer_container .swiper .swiper-wrapper .swiper-slide figure img:hover {
  top: -35%;
}

.flyer_navigation_wrapper {
  max-width: 1320px;
  width: 99%;
  margin: 0 auto;
  position: relative;
  top: -145px;
}
.flyer_navigation_container {
}
.flyer_navigation_container .swiper-button-next.swiper-button-disabled {
  display: none;
}
.flyer_navigation_container .swiper-button-prev.swiper-button-disabled {
  display: none;
}
.flyer_navigation_container .swiper-button-next::after {
  content: url("images/icons/chevron-right-icon.png");
  height: 32px;
  width: 32px;
}
.flyer_navigation_container .swiper-button-prev::after {
  content: url("images/icons/chevron-left-icon.png");
  height: 32px;
  width: 32px;
}

#popular_destinations_section {
  padding-top: 70px;
}
.pd_container {
}
.pd_container h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-bottom: 50px;
}
.pd_container .pd_card {
  height: 402px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  position: relative;
  overflow: hidden;
}
.pd_container .pd_card figure {
  height: 200px;
  position: relative;
}
.pd_container .pd_card figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pd_container .pd_card figure::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background-color: #000000;
  opacity: 0.1;
}
.pd_container .pd_card .description_container {
  padding: 12px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
}
.pd_container .pd_card .description_container .location {
  color: var(--text-color-secondary);
  font-weight: 400;
  font-size: 14px;
  display: block;
  line-height: 100%;
}
.pd_container .pd_card .description_container .title {
  color: var(--text-color-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}
.pd_container .pd_card .description_container .review_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
.pd_container .pd_card .description_container .review_container .star_rating {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3px;
}
.pd_container .pd_card .description_container .review_container .star_rating .star {
  height: 14px;
  width: 15px;
  background-image: url("images/icons/star-icon.png");
}
.pd_container .pd_card .description_container .review_container .info {
  display: block;
  font-size: 14px;
  color: var(--text-color-secondary);
  line-height: 100%;
  font-weight: 400;
}
.pd_container .pd_card .description_container .tag_container {
}
.pd_container .pd_card .description_container .tag_container ul {
}
.pd_container .pd_card .description_container .tag_container ul li {
  position: relative;
  display: inline-block;
}
.pd_container .pd_card .description_container .tag_container ul li a {
  line-height: 100%;
  font-size: 14px;
  color: var(--text-color-orange);
  background-color: var(--bg-color-colar);
  padding: 3px 8px;
  border-radius: 6px;
  font-weight: 500;
}
.pd_container .pd_card .description_container .price {
  color: var(--text-color-black);
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  padding: 16px;
  width: 100%;
  line-height: 100%;
}
.pd_container .btn_see_more {
  line-height: 100%;
  margin: 40px auto 0;
  max-width: 320px;
  width: 100%;
  height: 36px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--text-color-black);
  font-weight: 500;
  border: 1px solid var(--btn-border-text-color);
  background-color: transparent;
  display: block;
}
#tours_by_interest {
  position: relative;
}
.tbi_container {
  padding-top: 70px;
}
.tbi_container h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-bottom: 50px;
}
.swiper_tours_by_interest_wrapper {
  position: relative;
}
.swiper_tours_by_interest_wrapper .wrapper {
  width: 90%;
}
.swiper_tours_by_interest_wrapper .tbi_card {
  position: relative;
  border-radius: 16px;
  border: 1px solid var(--border-dummy-color);
  overflow: hidden;
  height: 235px;
}
.swiper_tours_by_interest_wrapper .tbi_card::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background-color: #000000;
  opacity: 0.1;
}
.swiper_tours_by_interest_wrapper .tbi_card figure {
  position: relative;
  width: inherit;
  height: inherit;
}
.swiper_tours_by_interest_wrapper .tbi_card figure img {
  display: block;
  object-fit: cover;
  border: 1px solid transparent;
  height: 100%;
  width: 100%;
}
.swiper_tours_by_interest_wrapper .tbi_card figure figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 20px 20px;
  z-index: 1;
}
.swiper_tours_by_interest_wrapper .tbi_card figure figcaption h3 {
  color: var(--text-color-white);
  font-weight: 700;
  text-align: left;
  font-size: 20px;
  word-break: break-word;
}
.nav_tours_by_interest_wrapper {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav_tours_by_interest_wrapper .swiper-button-next.swiper-button-disabled {
  display: none;
}
.nav_tours_by_interest_wrapper .swiper-button-prev.swiper-button-disabled {
  display: none;
}
.nav_tours_by_interest_wrapper #swiper-tours-by-interest-next {
  content: url("images/icons/chevron-right-icon.png");
  height: 32px;
  width: 32px;
  top: 5px;
}
.nav_tours_by_interest_wrapper #swiper-tours-by-interest-prev {
  content: url("images/icons/chevron-left-icon.png");
  height: 32px;
  width: 32px;
  top: 5px;
}
#our_exclusive_tours {
}
.oet_container {
  padding-top: 70px;
}
.oet_container h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-bottom: 50px;
  line-height: 100%;
}
.oet_container .oet_card {
  position: relative;
  border-radius: 16px;
  border: 1px solid var(--border-dummy-color);
  overflow: hidden;
  height: 302px;
}
.oet_container .oet_card::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background-color: #000000;
  opacity: 0.1;
}
.oet_container .oet_card figure {
  position: relative;
  width: inherit;
  height: inherit;
}
.oet_container .oet_card figure img {
  display: block;
  object-fit: cover;
  border: 1px solid transparent;
  height: 100%;
  width: 100%;
}
.oet_container .oet_card figure figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 20px 20px;
  z-index: 1;
}
.oet_container .oet_card figure figcaption h3 {
  color: var(--text-color-white);
  font-weight: 700;
  text-align: left;
  font-size: 20px;
  word-break: break-word;
  line-height: 100%;
}
.oet_container .btn_see_more {
  line-height: 100%;
  margin: 40px auto 0;
  max-width: 320px;
  width: 100%;
  height: 36px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--text-color-black);
  font-weight: 500;
  border: 1px solid var(--btn-border-text-color);
  background-color: transparent;
  display: block;
}
#testimonials {
}
.testimonials_container {
  padding-top: 70px;
}
.testimonials_container h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-bottom: 50px;
  line-height: 100%;
}
.testimonials_container .testimonials_frames {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 15px;
}
.testimonials_container .testimonials_frames iframe {
  width: 45%;
  height: 190px;
}
.testimonials_container .btn_see_more {
  line-height: 100%;
  margin: 40px auto 0;
  max-width: 320px;
  width: 100%;
  height: 36px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--text-color-black);
  font-weight: 500;
  border: 1px solid var(--btn-border-text-color);
  background-color: transparent;
  display: block;
}
#faq {
  padding: 0 15px;
}
.faq_container {
  padding: 70px 0;
}
.faq_container h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-bottom: 50px;
  line-height: 100%;
}
.faq_container .faq_details {
  border: 1px solid var(--border-color-white);
  padding: 0 24px;
  border-radius: 12px;
}
.faq_container .faq_details details summary {
  font-size: 16px;
  color: var(--text-color-black-1);
  font-weight: 500;
  line-height: 100%;
  display: block;
  position: relative;
  padding: 30px 30px 30px 0;
}
.faq_container .faq_details details summary::after {
  content: url("images/icons/down-arrow.png");
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.faq_container .faq_details details summary:hover {
  cursor: pointer;
}
.faq_container .faq_details details:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color-white);
}
.faq_container .faq_details details[open=""] {
  border-bottom: transparent;
}
.faq_container .faq_details details p {
  font-size: 16px;
  color: var(--text-color-black-2);
  font-weight: 500;
  background-color: var(--bg-gray-color);
  padding: 24px;
}
.faq_container .faq_details details:last-child p {
  margin-bottom: 30px;
}

#footer {
  border-top: 1px solid var(--border-color);
  padding: 0 15px;
}
.ftr_con {
  padding: 70px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.ftr_company {
}
.ftr_company h2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-black-2);
}
.ftr_company ul {
}
.ftr_company ul li {
}
.ftr_company ul li a {
  color: var(--text-color-secondary);
  font-size: 12px;
  font-weight: 500;
}

.ftr_categories h2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-black-2);
}
.ftr_categories ul {
}
.ftr_categories ul li {
}
.ftr_categories ul li a {
  color: var(--text-color-secondary);
  font-size: 12px;
  font-weight: 500;
}

.ftr_payment_methods h2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-black-2);
}
.ftr_payment_methods ul {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-top: 10px;
  gap: 10px;
}
.ftr_payment_methods ul li {
  position: relative;
}
.ftr_payment_methods ul li .card-1 {
  content: url("images/icons/card-icon-1.png");
}
.ftr_payment_methods ul li .card-2 {
  content: url("images/icons/card-icon-2.png");
}
.ftr_payment_methods ul li .card-3 {
  content: url("images/icons/card-icon-3.png");
}
.ftr_payment_methods ul li .card-4 {
  content: url("images/icons/card-icon-4.png");
}

.ftr_follow_us_on h2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-black-2);
}
.ftr_follow_us_on ul {
}
.ftr_follow_us_on ul li:first-child {
  margin-top: 10px;
}
.ftr_follow_us_on ul li:not(:first-child) {
  margin-top: 15px;
}
.ftr_follow_us_on ul li a {
  color: var(--text-color-secondary);
  font-size: 12px;
  font-weight: 500;
  position: relative;
  padding-left: 30px;
}
.ftr_follow_us_on ul li:nth-child(1) a::after {
  content: url("images/icons/facebook-icon.png");
}
.ftr_follow_us_on ul li:nth-child(2) a::after {
  content: url("images/icons/youtube-icon.png");
}
.ftr_follow_us_on ul li:nth-child(3) a::after {
  content: url("images/icons/instagram-icon.png");
}
.ftr_follow_us_on ul li:nth-child(4) a::after {
  content: url("images/icons/twitter-icon.png");
}
.ftr_follow_us_on ul li:nth-child(1) a::after,
.ftr_follow_us_on ul li:nth-child(2) a::after,
.ftr_follow_us_on ul li:nth-child(3) a::after,
.ftr_follow_us_on ul li:nth-child(4) a::after {
  top: -4px;
  left: 0;
  position: absolute;
}

.footer_copy_right {
  border-top: 1px solid var(--border-color);
}
.footer_copy_right_con {
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_copy_right_con p {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-color-secondary);
}

/* EXPLORE */
#nh_banner {
  height: 340px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 15px;
}
#nh_banner::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("images/banner-4.jpg");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}
#nh_banner::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.1;
}
.nh_banner_con h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  color: var(--text-color-white);
  line-height: 100%;
  word-break: break-all;
  position: relative;
  z-index: 1;
}

/* NON-HOME ACTIVITIES */
#nh_activties {
  padding: 0 15px;
}
.nh_activties_wrapper {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.nh_activties_con {
  margin-top: 70px;
  position: relative;
}
.nh_activties_con .swapper_con {
}
.nh_activties_con .swapper_con .swiper-slide {
  height: 235px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.nh_activties_con .swapper_con .swiper-slide::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.1;
}
.nh_activties_con .swapper_con .swiper-slide figure {
  height: inherit;
}
.nh_activties_con .swapper_con .swiper-slide figure img {
  height: inherit;
  width: 100%;
  object-fit: cover;
}
.nh_activties_con .swapper_con .swiper-slide h3 {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  padding: 20px;
  font-weight: 700;
  font-size: 20px;
  color: var(--text-color-white);
}
.nh_activties_con .swiper-button-next {
  content: url("images/icons/chevron-right-icon.png");
  height: 32px;
  width: 32px;
}
.nh_activties_con .swiper-button-prev {
  content: url("images/icons/chevron-left-icon.png");
  height: 32px;
  width: 32px;
}
.nh_activties_con .swiper-button-next.swiper-button-disabled {
  display: none;
}
.nh_activties_con .swiper-button-prev.swiper-button-disabled {
  display: none;
}
#nh_popular_destinations {
  padding: 0 15px;
}
.nh_pd_title_con {
  padding-top: 70px;
}
.nh_pd_title_con h3 {
  color: var(--text-color-black-1);
  font-weight: 600;
  font-size: 28px;
}

.nh_pd_main_swapper {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.nh_pd_main_con {
}
.nh_pd_con {
  padding-top: 45px;
}
.nh_pd_con section {
  height: 402px;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid var(--border-color);
}
/* Location */
.nh_pd_con section .location {
  height: inherit;
  position: relative;
}
.nh_pd_con section .location::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.1;
  z-index: -1;
}
.nh_pd_con section .location img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.nh_pd_con section .location figcaption {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 20px;
}
.nh_pd_con section .location figcaption h4 {
  color: var(--text-color-white);
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}
/* Item */
.nh_pd_con section .item {
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.nh_pd_con section .item .img_con {
  position: relative;
  height: 201px;
  width: 100%;
  background-color: #e4e4e4;
  border-bottom: 1px solid var(--border-color);
}
.nh_pd_con section .item .img_con img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nh_pd_con section .item figcaption {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 12px 16px 16px;
  gap: 13px;
  align-items: stretch;
}
.nh_pd_con section .item figcaption > p {
  color: var(--text-color-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}
.nh_pd_con section .item figcaption h5 {
  color: var(--text-color-black-1);
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}
.nh_pd_con section .item figcaption .rating_con {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}
.nh_pd_con section .item figcaption .rating_con .star_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.nh_pd_con section .item figcaption .rating_con .star_list li {
}
.nh_pd_con section .item figcaption .rating_con .star_list li .star {
  content: url("images/icons/star-icon.png");
}
.nh_pd_con section .item figcaption .rating_con p {
  color: var(--text-color-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}
.nh_pd_con section .item figcaption .tag_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.nh_pd_con section .item figcaption .tag_list li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
.nh_pd_con section .item figcaption .tag_list li span {
  color: #fa7436;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  padding: 5px 8px;
  border-radius: 6px;
  background: rgba(250, 116, 54, 0.1);
}
.nh_pd_con section .item figcaption .price {
  color: var(--text-color-black);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  display: flex;
  flex: 1;
  align-items: end;
}

.nh_pd_main_con .swiper-button-next {
  content: url("images/icons/chevron-right-icon.png");
  height: 32px;
  width: 32px;
}
.nh_pd_main_con .swiper-button-prev {
  content: url("images/icons/chevron-left-icon.png");
  height: 32px;
  width: 32px;
}
.nh_pd_main_con .swiper-button-next.swiper-button-disabled {
  display: none;
}
.nh_pd_main_con .swiper-button-prev.swiper-button-disabled {
  display: none;
}
